@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

body {
	padding: 0 2rem;
	margin: 0 2rem;
}

#nescss > .container {
	max-width: 980px;
	margin: 0 auto;
	margin-top: 150px;
}

/* Header */
header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9;
	border-bottom: 4px solid #d3d3d3;
	background-color: white;
}

header > .container {
	display: flex;
	align-items: baseline;
	max-width: 980px;
	margin: 0 auto;
	padding-top: 1rem;
	transition: all 0.2s ease;
}

header > .container > .nav-brand {
	margin-right: auto;
}

header > .container > .social-button {
	margin-left: auto;
}

.nav-brand .brand-logo {
	margin-right: 1rem;
}

.nav-brand > a {
	color: #212529;
	text-decoration: none;
}

.social-buttons p {
	margin-bottom: 0;
}

/* Header-sticky */
header.sticky > .container {
	font-size: 0.8rem;
	padding: 0;
	align-items: center;
}

header.sticky .nav-brand h1 {
	margin: 0;
}

header.sticky .nav-brand p {
	display: none;
	margin-bottom: 0;
	font-size: 0.6rem;
}

/* Main */
.main-content {
	margin-bottom: 4rem;
}

.pixel-button {
	background: #000;
	color: #fff;
	border: 2px solid #fff;
	padding: 10px;
	font-family: 'Press Start 2P', cursive;
	box-shadow: 0 0 0 2px #000;
}
